<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.amelia">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
            android:name="io.amelia.booklet.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_app"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar">
        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>

        <service android:name="io.amelia.booklet.FirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
                android:name="io.amelia.booklet.AppService"
                android:exported="false"/>

        <receiver
                android:name="io.amelia.booklet.AppReceiver"
                android:enabled="true"
                android:exported="true"
                android:label="AppReceiver">
            <intent-filter>
                <action android:name="com.ramencon.action.TRIGGER_ALARM"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name="io.amelia.booklet.ui.activity.ContentActivity"/>
        <activity android:name="io.amelia.booklet.ui.activity.LoadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="io.amelia.booklet.ui.activity.BootActivity"/>
    </application>

</manifest>